

.blog .blog-item {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.blog .blog-item .item-image {
  margin-top: 7px;
  margin-right: 0;
}
.blog .blog-item .item-image img {
  max-width: 100%;
  width: 100%;
}
.blog .blog-item .page-header {
  border: 0;
  margin: 0 0 10px;
  padding: 0;
}
.blog .blog-item .page-header h2 {
  margin: 0;
  line-height: 1.3;
}
.blog .blog-item .page-header h2 a:hover,
.blog .blog-item .page-header h2 a:focus,
.blog .blog-item .page-header h2 a:active {
  color: #b35f00;
}
.blog .blog-item .article-intro {
  margin-bottom: 20px;
}
.blog .item-page .tags {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.blog .item-page .tags span a {
  background: #eeeeee;
}
