

.glossary-nav {
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
  height: 50px;
}
.glossary-nav nav {
  padding: 0 40px 0 0;
}
.glossary-nav nav.affix {
  top: 57px;
}
.glossary-nav nav .nav-pills {
  background: #444444;
}
.glossary-nav nav .nav-pills > li {
  border-right: 1px solid #fff;
  margin: 0;
}
.glossary-nav nav .nav-pills > li > a {
  padding: 10px 15px;
  font-size: 24px;
  line-height: normal;
  background: #444444;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.glossary-nav nav .nav-pills > li > a:hover,
.glossary-nav nav .nav-pills > li > a:active,
.glossary-nav nav .nav-pills > li > a:focus {
  background: #ff8800;
}
.glossary-group {
  margin-bottom: 40px;
  position: relative;
}
.glossary-group a[name] {
  position: absolute;
  top: -120px;
}
.glossary-group-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 42px;
  background: #f7f7f7;
  color: #222222;
  padding: 10px 15px;
  text-transform: uppercase;
}
.glossary-group-items ul {
  padding: 0;
  margin: 0;
}
.glossary-group-items ul > li {
  list-style: none;
  padding: 5px 15px;
}
.glossary-group-items ul > li > a {
  color: #444444;
  font-size: 18px;
}